.add-role-cont {
  background-color: #2c3440;
  width: 350px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 25px;
}

.add-role-header {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.add-role-subject {
  margin-top: 10px;
  font-weight: 300;
  font-size: 20px;
}

.add-role-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #99AABB;
  gap: 5px;
  margin-bottom: 20px;
  width: 50%;
  position: relative;

}

.add-role-form label {
  margin: 10px 0;
  width: 100%;
  color: #99AABB;
}

.add-role-form select{
  width: 100%;
  height: 37px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 4px;
  color: white;
  background-color: #14181c;
  margin-top: 3px;
}

#add-role-button-container {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

#add-role-button-container .cancel-button {
  padding: 7px 19px;
  border: none;
  border-radius: 4px;
  background-color: rgb(112, 112, 112);
  color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s
}

#submit-role-button:disabled {
  padding: 7px 19px;
  border: none;
  border-radius: 4px;
  background-color: rgb(112, 112, 112);
  color: rgba(255, 255, 255, 0.866);
  cursor: not-allowed;
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s
}

#submit-role-button {
  padding: 7px 19px;
  border: none;
  border-radius: 4px;
  background-color: rgb(21, 135, 3);
  color: rgba(255, 255, 255, 0.866);
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s
}


#add-role-button-container .cancel-button:hover {
  color: black;
  background-color: white;
}

#submit-role-button:enabled:hover {
  color: black;
  background-color: white;
}


.add-role-form::before,
.add-role-form::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #667788;
}

.add-role-form::before {
  top: -5px;
  width: 150%;
  left: -45px;
}

.add-role-form::after {
  bottom: 45px;
  width: 150%;
  left: -45px;
}
