#footer-container {
  min-height: 64px;
  padding: 32px 0px;
  background-color: rgb(44, 52, 64);
}

#footer-content {
  margin: 0px 350px;
  display: flex;
  gap: 20px;
  color: rgb(136, 153, 170)
}

.footer-header {
  margin-bottom: 5px;
}

.footer-col a:hover {
  color: white;
}

.footer-col {
  display: flex;
  flex-direction: column;
}
