#profile-container {
  margin: 40px 21%;
}

#user-uploads-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#manage-welcome {
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

#manage-header {
  font-weight: 300;
}

.profile-section-header {
  display: flex;
  gap: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(102, 119, 136);
  color: rgb(174, 184, 193);
  justify-content: space-between;
}

.manage-items-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 10px 0px;
}

.none-found-text {
  color: #99AABB;
}

#user-people-grid .tile-container-profile,
#user-films-grid .tile-container-profile {
  height: 109px;
}

#user-uploads-cont img {
  width: 74px;
  height: 109px;
}

.UD-buttons-cont {
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: #2c3440ab;
  position: relative;
  bottom: 22px;
  border-radius: 3px;
}

.profile-UD-button {
  color: white;
  font-size: 13px;
}

.profile-UD-button:hover {
  color: rgb(163, 163, 163);
}

/* Reviews */
.profile-reviews-cont {
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
  transition: background-color .2s
}

.profile-reviews-cont:hover {
  background-color: #14181c;
}

#user-reviews-grid {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.profile-review-details {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}



.profile-review-details .review-film-title {
  font-size: 20px;
  font-weight: 500;
}

.profile-review-details .review-film-year {
  font-size: 15px;
  font-weight: 300;
  color: #99AABB;
}


.profile-review-details .review-film-rating {
  margin-top: 5px;
  font-size: 12px;
}
