/* TODO Add site wide styles */
body {
  background-color: rgb(20, 24, 28);
  color: white;
  font-family: "Graphik", sans-serif;
  /* background-image: linear-gradient(180deg,#14181c 0,#14181c 250px,#2c3440 251px); */
}
