/* TODO Add site wide styles */
html,
body {
  height: 100%;
}

body {
  /* background-color: rgb(20, 24, 28); */
  color: white;
  font-family: "Graphik", sans-serif;
  background: linear-gradient(to top, #14181c, #2c3440);
}
