#nav-container {
  background-color: #111417;
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 350px;
}

#nav-links-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}

#nav-home-button {
 font-family: "Sharp Grotesk", sans-serif;
 font-size: 25px;
 color: white;
}

.vidi-eye-logo {
  padding-right: 3px;
  font-size: 24px;
}

.profile-dropdown {
  position: absolute;
  margin-top: 5px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(136, 153, 170);
}

#nav-container a:hover {
  color: white;
}
