#home-page-container {
  display: flex;
  flex-direction: column;
  margin: 0px 21%;
}

#welcome-header {
  margin: 50px 0px 10px 0px;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Heiti SC", Helvetica, sans-serif;
}

#welcome-subtitle {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
  color: #c9d3de;
  font-family: "Heiti SC", Helvetica, sans-serif;
}

#home-page-body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#home-page-body span {
  color: rgb(136, 153, 170);
}

#featured-films,
#featured-people {
  display: flex;
  justify-content: space-between;
  gap: 13px
}

.popular-cont {
  margin-top: 3px;
  border-top: 1px solid #667788;
  padding-top: 15px;
}

#featured-films img,
#featured-people img {
  border: solid 1px rgb(153, 170, 187);
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

.upgrade-pic {
  border: none !important;
  width: 100%;
}


.home-film-tile-cont,
.home-person-tile-cont {
  position: relative;
  display: inline-block;
}

.home-film-tile-cont img:hover,
.home-person-tile-cont img:hover {
  border: solid 1px rgb(0, 224, 84) !important;
}

.home-film-tile-cont .tooltip,
.home-person-tile-cont .tooltip {
  visibility: hidden;
  width: fit-content;
  white-space: nowrap;
  max-width: 378px;
  background-color: #1e232b;
  color: #fff !important;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  /* Position above the image */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.home-film-tile-cont:hover .tooltip,
.home-person-tile-cont:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
