#film-details-page-container {
  display: flex;
  margin: 40px 0px;
  justify-content: center;
  gap: 30px;
  height: 70vh;
}

#details-right-cont {
  display: flex;
  flex-direction: column;
}

#film-details-top {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

#title-heading {
  font-weight: 200;
  font-size: 30px;
  margin: 0px;
}

#director-heading {
  font-weight: 300;
  margin: 5px 10px 0px 0px;
  font-style: italic;
}

#film-details-cont {
  width: 390px;
}

#key-art-cont>img {
  border: solid 1px rgb(153, 170, 187);
  border-radius: 3px;
  width: 230px;
  height: 345px;
}

#genre-text {
  text-align: center;
}

#credits-cont,
#review-header {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid rgb(102, 119, 136);
  padding-bottom: 5px;
}

.credit-toggle {
  cursor: pointer;
}

#credits-block {
  margin-top: 10px;
  margin-bottom: 20px;
}

#credits-block a {
  text-decoration: none;
  color: rgb(136, 153, 170);
  background-color: #1e232b;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

#cast-block {
  padding-top: 6px;
  display: flex;
  gap: 5px;
}

#crew-block {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.crew-line {
  display: flex;
}

.role-text {
  width: 156px;
}

.crew-members {
  display: flex;
  gap: 5px;
}

/* Rater Box */

#rater-cont {
  min-width: 230px;
  background-color: #456;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.rater-row {
  padding: 27px 0px;
  color: #bcd
}

.seperator {
  width: 100%;
  border-bottom: 1px solid #14181c;
}

#your-rating-row {
  padding: 20px 0px;
}

#your-rating-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#avg-rating-stars {
  font-size: 25px;
}

/* Review Block */
.review-block {
  padding-top: 5px;
  border-bottom: 1px solid rgb(102, 119, 136);
}

.review-user {
  color: white;
  font-weight: 500;
}

.review-text {
  color: white;
}
