#film-details-page-container {
  display: flex;
  margin: 40px 21%;
  gap: 30px;
}

#details-right-cont {
  display: flex;
  flex-direction: column;
}

#film-details-top {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

#film-details-cont {
  width: 390px;
}

#key-art-cont>img {
  border: solid 1px rgb(153, 170, 187);
  border-radius: 3px;
  width: 230px;
  height: 345px;
}


#credits-cont, #review-header {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid rgb(102, 119, 136);
  padding-bottom: 5px;
}

.credit-toggle {
  cursor: pointer;
}

#credits-block {
  margin-top: 10px;
  margin-bottom: 20px;
}

#credits-block a {
  text-decoration: none;
  color: rgb(136, 153, 170);
  background-color: #2c3440;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

#cast-block {
  display: flex;
  gap: 5px;
}

#crew-block {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.crew-line {
  display: flex;
}

.role-text {
  width: 156px;
}

.crew-members {
  display: flex;
  gap: 5px;
}

#rater-cont {
  min-width: 230px
}

.review-block {
  padding-top: 5px;
  border-bottom: 1px solid rgb(102, 119, 136);
}

.review-user {
  color: white;
  font-weight: 500;
}

.review-text {
  color: white;
}
