#film-all-container {
  display: flex;
  flex-direction: column;
  margin: 40px 350px;
}

#all-films-grid {
  display: flex;
  /* calculate gap to be dynamic */
  gap: 12.8px;
  flex-wrap: wrap;
}

#all-films-grid img {
  width: 74px;
  height: 109px;
}

#all-films-header {
  display: flex;
  gap: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(102, 119, 136);
  color: rgb(174, 184, 193);
  justify-content: space-between;
}

#film-count {
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: rgb(69, 85, 101);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(174, 184, 193);
  border-radius: 4px;
}

.all-film-tile-cont {
  position: relative;
  display: inline-block;
}

.all-film-tile-cont img:hover {
  border: solid 1px rgb(0, 224, 84);
}

.barbie-cont img:hover {
  border: solid 1px pink !important;
}

.all-film-tile-cont .tooltip {
  visibility: hidden;
  width: fit-content;
  white-space: nowrap;
  max-width: 378px;
  background-color: #1e232b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  /* Position above the image */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.all-film-tile-cont:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.barbie-tool {
  background-color: palevioletred !important;
}

.add-film {
  font-size: 18px;
  position: relative;
  bottom: .8px;
}


.add-film:hover {
  color: rgba(0, 224, 86, 0.645);
}
